/* App.css */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Đảm bảo phần nội dung chiếm toàn bộ không gian trừ header/footer */
.main-layout {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Footer nằm dưới cùng */
footer {
  margin-top: auto;
  background-color: #f8f8f8;
  padding: 10px;
  text-align: center;
}
